@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}


<div id="first-page-container">
    @foreach(Park park in Model)
    {
         <div class="park-home">
                <a asp-controller="Home" asp-action="ParkDetail" asp-route-id="@park.ParkCode">
                    <h1>@park.ParkName</h1>
                    <img src="~/images/parks/@(park.ParkCode.ToLower()).jpg" />
                </a>
                <h2>@park.State</h2>
                <p>@park.ParkDescription</p>
            </div>
    }
</div>