@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}


<div>
    @foreach(Park park in Model)
    {
    <a asp-controller="Home" asp-action="ParkDetail" asp-route-id="@park.ParkCode">
        <h1>@park.ParkName</h1>
        <img src="~/images/parks/@(park.ParkCode.ToLower()).jpg" />
    </a>
        <h2>@park.State</h2>
        <p>@park.ParkDescription</p>
    }
</div>