.Main-Panel {
    margin: 5%;
}


#geek-logo {
    width: 30%;
    height: auto;
}

span{
    font-weight:bold;
}

#first-page-container {
    display: flex;
    flex-direction: column;
}

.park-home {
    display: flex;
    margin-bottom: 50px;
}

.park-home-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.park-home-name {
    margin-top: 0px;
}

.default-tab {
    display: flex;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

.default-button {
    list-style: none;
    margin: 5px;
    text-align: center;
    line-height: 2rem;
    background-color: orange;
    opacity: 0.9;
    border-radius: 5px;
    padding: 0px 6px;
}

.default-button a {
    text-decoration: none;
}

img.detail-image {
    width: 100%;
    height: auto;
}