.Main-Panel {
    margin: 5%;
}

#geek-logo {
    width: 30%;
    height: auto;
}

span{
    font-weight:bold;
}

#first-page-container {
    display: flex;
    flex-direction: column;
}

.park-home {
    display: flex;
    margin-bottom: 50px;
}

.park-home-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.park-home-name {
    margin-top: 0px;
}

.default-tab {
    display: flex;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

ul.default-tab{
    background-color:darkseagreen;
}

.default-button {
    list-style: none;
    margin: 5px;
    text-align: center;
    line-height: 2rem;
    opacity: 0.9;
    border-radius: 5px;
    padding: 0px 6px;
}

.default-button:hover{
    background-color:chartreuse;
}

.default-button a {
    text-decoration: none;
    font-weight:bolder;
    font-size:1.3rem;
}

#Detail-grid{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "image image"
        "details details"
        "blockone blocktwo"
        "weather weather";
}

.detail-image{
    grid-area:image;
}

.details-container{
    grid-area:details;
}

.details-blockone{
    grid-area:blockone;
}

.details-blocktwo{
    grid-area:blocktwo;
}

.Main-Weather-Panel{
    grid-area:weather;
}

.quote{
    text-align:center;
    
}

img.detail-image {
    width: 100%;
    height: auto;
}

.weather-container{
    display:flex;
    flex-wrap:wrap;
}

.days-container{
    border:dashed 3px black;
    padding-left:10px;
    padding-right:10px;
    background-color:lightgoldenrodyellow;
}

.days-container h2{
    text-align:center;
}
