<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Web</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <img id="geek-logo" src="~/images/logo.png" />
    <ul class="default-tab">
        <li class="default-button"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="default-button"><a asp-action="Index" asp-controller="Survey">Survey</a></li>
        <li class="default-button"><a asp-action="FavoritePark" asp-controller="Survey">Survey Results</a></li>
    </ul>

    @RenderBody()

</body>
</html>
